
<div class="header">
    <nav class="sticky-nav">
        <a href="#Accueil">Accueil</a>
        <a href="#a-propos">A propos</a>
        <a href="#competence">Compétences</a>
        <a href="#projets">Projets</a>
        <a href="#contact">Contact</a>
    </nav>
</div>

<section id="Accueil">
    <h1>NATHAN NICOLESSI</h1>
    <h2>Software Engineer</h2>
    <div class="social-icons">
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </section>
  
  <section id="a-propos">
    <h2>Mes services</h2>
    <p>Voici ce que je propose...</p>
  </section>
  
  <section id="competences">
    <h2>Contact</h2>
    <p>Vous pouvez me contacter ici...</p>
  </section>
  <section id="projets">
    <h2>À propos de moi</h2>
    <p>Voici un peu plus d'information sur moi...</p>
  </section>
  
  <section id="contact">
    <h2>Mes services</h2>
    <p>Voici ce que je propose...</p>
  </section>
  