<div class="home">
  <div class="logo-container">
    <img src="/logo.png" class="logo-pic"/>
  </div>
  <h1>Nathan NICOLESSI</h1>
  <h1>--- Software Engineer ---</h1>
  <div class="banner">
    <p>Bienvenue dans mon univers</p>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="#Presentation">Présentation</a></li>
      <li><a href="#Presentation">Compétences</a></li>
      <li><a href="#Presentation">Formations</a></li>
      <li><a href="#Presentation">Contact</a></li>
    </ul>
  </nav>
  <div class="avatar">
    <img src="/robot.gif"/>
  </div>
</div>